<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Product Recommender</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-box" id="chat-box">
        <p id="chat-log">
          Chatbot: Hello and welcome to Seif's AI-based product recommendation
          system! Please provide some information about your product of
          interest.
        </p>
        <div id="chat-log"></div>
      </div>
      <form id="search-form">
        <input
          type="text"
          id="user-input"
          name="user_input"
          placeholder="Type your keyword"
        />
        <button type="submit" class="search-button">Search</button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
